:root{
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-400: #60a5fa;
  --blue-600: #2563eb;
  --blue-700: #1D4ED8;

  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;

  --teal-100: #e6fffa;
  --teal-200: #b2f5ea;
  --teal-300: #81e6d9;
  --teal-400: #4fd1c5;
  --teal-500: #38b2ac;
  --teal-600: #319795;
  --teal-700: #2c7a7b;
  --teal-800: #285e61;
  --teal-900: #234e52;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;


  --pink-600: #db2777;
  --purple-600: #7c3aed;
  --gray-200: #e5e7eb;
  --indigo-500: #6366f1;
  --transition-hover: 0.3s;

}


/* input 関係 */
.radio-button {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input::placeholder {
  color: #eee;
}

input[type="text"].error,
input[type="email"].error,
input[type="number"].error,
input[type="date"].error,
input[type="time"].error,
textarea.error {
  border:solid 3px var(--red-600);
  background: var(--red-200);
}

/* ボタン関係 */
input[type="submit"],
.submit{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  transition: var(--transition-hover);
  text-decoration: none;
}
.register-btn{
  background: var(--blue-600);
  color: white;
}
.register-btn:hover{
  background: var(--blue-100);
  color: var(--blue-600);
}
.edit-btn{
  background: var(--green-600);
  color: white;
}
.edit-btn:hover{
  background: var(--green-200);
  color: var(--green-600);
}
.back-btn{
  background: var(--gray-700);
  color: white;
}
.back-btn:hover{
  background: var(--gray-400);
  color: var(--gray-700);
}
.buttonSent{
  pointer-events: none;
  opacity: 0.5;
}



.input-label-container {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 20px;
  position: relative;
}
.input-label-container label {
  position: absolute;
  top: 27px;
  left: 16px;
  color: #aaa;
  transition: all 0.2s;
  cursor: text;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.input-label-container input:focus + label,
.input-label-container input.filled + label,
.input-control:not(:placeholder-shown) ~ label{
  font-size: 11px;
  line-height: 12px;
  top: 6px;
  left: 4px;
}

input:invalid ~ label{
  color:var(--red-700);
}




a{
  color: #109f8e95;
  text-decoration: underline;
  transition: var(--transition-hover);
}
a:hover{
  color: #357b73;
}




/* スクロールタブ */
div::-webkit-scrollbar {
  width: 14px;
  padding: 2px;
}
div::-webkit-scrollbar-track {
    background: linear-gradient(var(--blue-200), var(--blue-400));
    padding: 2px;
    border-radius: 10px;
}
div::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--blue-200);
  border: solid 1px var(--blue-600);
  border-radius: 10px;
}

.sex-men {
  color: var(--blue-600);
}
.sex-woman {
  color: var(--pink-600);
}
.sex-other {
  color: var(--purple-600);
}


.error{
  color: var(--red-600);
}



/* flash-message */
.flash-message-area{
  position: fixed;
  top: 140px;
  right: 0;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.flash-message-box{
  max-width: 500px;
  margin: 0 0 0.25rem auto;
  padding: 0.25rem 1rem;
  display: flex;
  overflow-wrap: anywhere;
  align-items: center;
}
.flash-message-success{
  background-color: var(--teal-200);
  color: var(--teal-700);
  border: solid 1px var(--teal-700);
  border-radius: 0.5rem;
}
.flash-message-error{
  background-color: var(--red-200);
  color: var(--red-600);
  border: solid 1px var(--red-600);
  border-radius: 0.5rem;
}
.flash-message-box-close{
  margin-left: 1rem;
  cursor: pointer;
  transition: var(--transition-hover);
}
.flash-message-box-close:hover{
  margin-left: 2rem;
}


/* どのショップを選択しているかのエリア */
.selectShopDisplayArea{
  height: 2.5rem;
  padding: 0 5rem;
  border-bottom: solid 1px #ccc ;
  display: flex;
  align-items: center;
}
.deselect{
  margin: 0 0 0 auto;
}
.selectShopContents{
  padding: 0rem ;
  margin: 0rem 2rem 1rem;
}
.selectShopName{
  background: #bbb;
}
.selectShopImg{
  width: 250px;
  height: 200px;
  background: #ddd;
}







